body{
  text-align:center;
}

div{
  display: inLine-block;
  text-align:left;
}

h1{
  margin-top:0;
  font-family:"Helvetica", sans-serif, serif;
  font-weight: 700;
  font-size: 1em;
}

h2{
  margin-top:0
  font-family:"Helvetica", sans-serif, serif;
  font-weight: 1000;
  font-size: 2em;
}
