body{
  text-align:center;
  margin-top: 10%;
  margin-left:25%;
  margin-right:25%;
  margin-bottom:10%;
  background-color: #fffff5; /*off white*/
  color: #313639; /*off black*/
}

div{
  display: inLine-block;
  text-align:left;
}

p{
  margin-top:0;
  font-family:Monteserrat,Helvetica, sans-serif, serif;
  font-weight: 300;
  font-size: 2em;
  display:block;
}
h1{
  margin-top:0;
  font-family:Monteserrat,Helvetica, sans-serif, serif;
  font-weight: 700;
  font-size: 1em;
  display:block;
}

h3{
  margin-top:0;
  margin-bottom:5%;
  font-family:Monteserrat,Helvetica, sans-serif, serif;
  font-weight: 1000;
  font-size: 4.75em;
  text-transform: uppercase;
  display:block;
}

#bracket{
  color: #ee2461;
  margin-right: 1%;
  margin-left:1%;
  margin-top:1%;
  margin-bottom:5%;
}
